<div class="col-3 ml-5 mt-5">
    <h2 class="col-12"><%= clothing.name %></h2>

    <p class="col-12">Type: <%= clothing.category.name %></p>
    <p class="col-12"><%= image_tag clothing.image, width:250 %></p>

<% if !show_detail %>
  <p class="col-12">Price: <%= clothing.price %></p>
  <p class="col-12">Quantity: <%= clothing.quantity %></p>
<% end %>

  <% if clothing.sale.name == 'yes' %>
    <p class="col-12 text-danger">On Sale</p>
  <% end %>

<% if show_detail %>
  <p class="col-12"><%= link_to 'View Details', clothing %></p>
<% end %>
</div>
