<h2><%= clothing.name %></h2>
<p>Price: <%= clothing.price %></p>
<p>Quantity: <%= clothing.quantity %></p>
<p>Type: <%= clothing.category.name %></p>
<p><%= image_tag clothing.image, width:250 %></p>