<div class="row">

  <% if session[:shopping_cart] != []%>
    <p class="col-12 ml-3"><%= link_to "Clear Shopping Cart", clear_shopping_cart_clothings_path, method: :post %></p>

    <p class="col-12 ml-3"><%= link_to "Check Out", charges_new_path  %></p>

    <P class="col-12 ml-3"> Total : <%= @total %></P>

<% end %>

<h1 class="ml-5 mt-5 col-12">Clothing</h1>


<div class="col-12 mt-3 ml-5">
<%= form_tag(clothings_path, method: :get) do %>
  <%= text_field_tag :term, params[:term] %>
    <%= select_tag :categoryDrops, options_from_collection_for_select(@category_all, "id", "name"),
                   include_blank: "Types"%>

    <%= select_tag :filter, "<option>Sale</option><option>Recent</option>".html_safe,
                   include_blank: "Filter"%>
    <%= submit_tag 'Search'%>
<% end %>
</div>

<%= render partial:'clothing', collection: @clothing_all, locals: { show_detail: true, shopping_cart: false}%>

  <div class="col-12 ml-5 pl-4 mt-5 mb-5">
<%= paginate @clothing_all %>
</div>

</div>