<h2><%= accessory.name %></h2>
<p>Type: <%= accessory.category.name %></p>

<% if !show_detail %>
  <p>Price: <%= accessory.price %></p>
  <p>Quantity: <%= accessory.quantity %></p>
<% end %>

<% if show_detail %>
  <p><%= link_to 'View Details', accessory %></p>
<% end %>