<!DOCTYPE html>
<html>
  <head>
    <title>FinalProjectLei</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  <nav class="navbar sticky-top bg-light">
    <ul class="navbar-nav my-3 mx-auto flex-row">
      <li class="nav-item mx-4 text-info"><%= link_to "About", abouts_path %></li>
      <li class="nav-item mx-4 text-info"><%= link_to "Clothing", "/" %></li>
      <li class="nav-item mx-4"><%= link_to "Accessory", accessories_path %></li>
      <li class="nav-item mx-4"><%= link_to "Shoe", shoes_path %></li>
    </ul>
  </nav>

  <div class="ml-auto">

    <% if session[:shopping_cart] == []%>
      <p class="lead mt-3">There is no item</p>
    <% end %>

    <%= render partial:'clothing', collection: @shopping_cart_items, locals: { show_detail: true, shopping_cart: true}%>
    <p><%= link_to "Clear Shopping Cart", clear_shopping_cart_clothings_path, method: :post %></p>
  </div>
    <%= yield %>
  </body>
</html>
