<!DOCTYPE html>
<html>
  <head>
    <title>FinalProjectLei</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  <nav class="navbar sticky-top bg-light">
    <ul class="navbar-nav my-3 mx-auto flex-row">
      <li class="nav-item mx-4 text-info"><%= link_to "Clothing", "/" %></li>
      <li class="nav-item mx-4"><%= link_to "Accessory", accessories_path %></li>
      <li class="nav-item mx-4"><%= link_to "Shoe", shoes_path %></li>
    </ul>
  </nav>



    <%= yield %>
  </body>
</html>
